<nav id="breadcrumb" aria-label="breadcrumb" hx-swap-oob="true">
    <ol>
        <li>
            <span id="databasesBreadCrumb"
                class="pointer"
                hx-target="#mainContent"
                hx-trigger="click"
                hx-get="./fragments/hxDatabases.html"
                hx-swap="innerHTML"
                hx-push-url="index.html">HOME</span>
        </li>
        <li>
            <span id="tablesBreadCrumb"
                class="pointer" 
                hx-target="#mainContent" 
                hx-trigger="click" 
                hx-get="./fragments/hxTables.html" 
                hx-swap="innerHTML">TABLES</span>
        </li>
        <li>
            <mark class="pointer" 
                hx-target="#mainContent" 
                hx-trigger="click" 
                hx-get="./fragments/hxViewData.html" 
                hx-swap="innerHTML">VIEW DATA</mark>
        </li>
    </ol>
</nav>

<aside id="sideBar" aria-label="breadcrumb" hx-swap-oob="true">
    <nav>
        <ul>
            <li>
                <span id="newRecordButton"
                    class="pointer p-1" 
                    data-target="universalModal" 
                    data-togglemodal="true"
                    data-title="NEW RECORD"
                    data-buttonaction="saveRecord"
                    data-caption="SAVE"
                    hx-target="#modalContent" 
                    hx-trigger="click" 
                    hx-get="./fragments/hxRecord.html" 
                    hx-swap="innerHTML" >
                    <i class="bx bx-pencil"></i>
                    NEW RECORD 
                </span>
                <!-- Remove: -->
                <!-- onclick="toggleModal(event)" -->
            </li>
            <li>
                <span class="pointer p-1" 
                    hx-target="#mainContent" 
                    hx-trigger="click" 
                    hx-get="./fragments/hxFields.html" 
                    hx-swap="innerHTML">
                    <i class="bx bx-bracket"></i>
                    FIELDS
                </span>
            </li>
        </ul>
    </nav>
</aside>

<div>
    <article>
        <header class="bg-primary">VIEW DATA FOR <em><span id="holdTableAlias"></span></em></header>
        <section id="viewDataContainer"></section>
        <footer></footer>
    </article>
</div>